name: Continuous Integration

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    Linting:
        name: Linting
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Project
              uses: actions/checkout@v6
            - name: Add problem matcher
              run: echo "::add-matcher::.github/problemMatchers/eslint.json"
            - name: Use Node.js v24
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: yarn
                  registry-url: https://registry.npmjs.org/
            - name: Install Dependencies
              run: yarn --immutable
            - name: Build
              run: yarn build
            - name: Run ESLint
              run: yarn lint --fix=false

    Building:
        name: Compile source code
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Project
              uses: actions/checkout@v6
            - name: Add problem matcher
              run: echo "::add-matcher::.github/problemMatchers/tsc.json"
            - name: Use Node.js v24
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: yarn
                  registry-url: https://registry.npmjs.org/
            - name: Install Dependencies
              run: yarn --immutable
            - name: Build
              run: yarn build
            - name: Typecheck And Build Code
              run: yarn typecheck && yarn build
