name: Continuous Integration

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    Linting:
        name: Linting
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Project
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
            - name: Add problem matcher
              run: echo "::add-matcher::.github/problemMatchers/eslint.json"
            - name: Use Node.js v22
              uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
              with:
                  node-version: 22
                  cache: yarn
                  registry-url: https://registry.npmjs.org/
            - name: Install Dependencies
              run: yarn --immutable
            - name: Build
              run: yarn build
            - name: Run ESLint
              run: yarn lint --fix=false

    Building:
        name: Compile source code
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Project
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
            - name: Add problem matcher
              run: echo "::add-matcher::.github/problemMatchers/tsc.json"
            - name: Use Node.js v22
              uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
              with:
                  node-version: 22
                  cache: yarn
                  registry-url: https://registry.npmjs.org/
            - name: Install Dependencies
              run: yarn --immutable
            - name: Build
              run: yarn build
            - name: Typecheck And Build Code
              run: yarn typecheck && yarn build
