name: Continuous Delivery

on:
    push:
        tags:
            - '*'

jobs:
    Publish:
        name: Publish
        if: startsWith(github.ref, 'refs/tags/')
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Checkout Project
              uses: actions/checkout@v6
            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  cache: yarn
                  registry-url: https://registry.npmjs.org/
            - name: Install Dependencies
              run: yarn --immutable
            - name: Publish
              run: npm publish --provenance --tag latest
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
